snapshot path = ./data/snapshots.stam.64/

# what path and filename should I give the preview movie?
preview movie = ./movies/compressed.5to1.mov
# where should I put the reduced data
reduced path = ./data/reduced.stam.64/

# where should I store the compressed matrices and their data
compression path = ./data/reduced.stam.64/5to1/
# total number of steps to run the full-rank simulation for
simulation snapshots = 100
all cells are candidates = false

nBits = 32
percent = 0.9995
maxIterations = 50
debug = 0
